# servidor
PORT=3000

# mongodb
MONGO_URL=mongodb://localhost:27017/shorturl

# redis
REDIS_URL=redis://localhost:6379

# url base usada pra montar o link encurtado na resposta da api
BASE_URL=http://localhost:3000
